/*************************************************************/
/*************************************************************/
/*************************************************************/
/***************************USUAL*****************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
*{
	padding: 0;
	margin: 0;
}
	html{
		width: 320px;
		height: 460px;
		overflow: hidden;
	}
	body{
		width: 100%;
		height: 100%;
		background: #292633;
		color: #fff;
		overflow: hidden;
	}
	.wrapper{
		position: relative;
		width: 100%;
		height: 90%;
		background: #35313F;
		-ms-transition: all .6s ease-out;
	    -moz-transition: all .6s ease-out;
	    -o-transition: all .6s ease-out;
	    -webkit-transition: all .6s ease-out;
	    transition: all .6s ease-out;
	}

	/*/*//*/*//*/*//*/*//*/* TITRE /*//*/*//*/*//*/*//*/*/

	h1{
		text-transform: uppercase;
		letter-spacing: 2px;
		opacity: 1;
		line-height: 45px;
		font-size: 12px;
		font-family: 'light';
		text-align: center;
		-ms-transition: all .4s .1s ease-out;
	    -moz-transition: all .4s .1s ease-out;
	    -o-transition: all .4s .1s ease-out;
	    -webkit-transition: all .4s .1s ease-out;
	    transition: all .4s .1s ease-out;
	}
	h2{
		font-family: 'thin';
		text-align: center;
		font-size: 16px;
		line-height: 145px;
	}
	/*/*//*/*//*/*//*/*//*/* TITRE /*//*/*//*/*//*/*//*/*/
/*************************************************************/
/*************************************************************/


/*************************************************************/
/*************************************************************/
/*************************************************************/
/***************************HEADER*****************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
	header{
		position: relative;
		width: 100%;
		height: 10%;
	}
	/*/*//*/*//*/*//*/*//*/* NAV /*//*/*//*/*//*/*//*/*/
	nav{
		position: absolute;
		top: 0px;
		left: 0;
		background: transparent;
		width: 100%;
		height: 100%;
		-ms-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    -webkit-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	}
	nav ul.ul-nav{
		background: transparent;
		height: 100%;
		-ms-transition: all .2s .4s ease-out;
	    -moz-transition: all .2s .4s ease-out;
	    -o-transition: all .2s .4s ease-out;
	    -webkit-transition: all .2s .4s ease-out;
	    transition: all .2s .4s ease-out;
	}
	nav ul.ul-nav li{
		position: absolute;
		top: -100px;
		float: left;
		text-align: center;
		width: 27%;
		height: 100%;
		background: #292633;
		z-index: 101;

	}
	.profil{
		-ms-transition: all .3s .4s ease-out;
	    -moz-transition: all .3s .4s ease-out;
	    -o-transition: all .3s .4s ease-out;
	    -webkit-transition: all .3s .4s ease-out;
	    transition: all .3s .4s ease-out;
	}
	.historique{
		-ms-transition: all .3s .3s ease-out;
	    -moz-transition: all .3s .3s ease-out;
	    -o-transition: all .3s .3s ease-out;
	    -webkit-transition: all .3s .3s ease-out;
	    transition: all .3s .3s ease-out;
		left: 27%;
	}
	.ecrou{
		-ms-transition: all .4s .2s ease-out;
	    -moz-transition: all .4s .2s ease-out;
	    -o-transition: all .4s .2s ease-out;
	    -webkit-transition: all .4s .2s ease-out;
	    transition: all .4s .2s ease-out;
		left: 54%;
	}
	li img{
		width: 40%;
	}
	/*/*//*/*//*/*//*/*//*/* NAV /*//*/*//*/*//*/*//*/*/
	/*/*//*/*//*/*//*/*//*/* BUTTON NAV /*//*/*//*/*//*/*//*/*/
	.nav-button:active{
		background: rgba(255,255,255,0.2);
	}
	.nav-button{
		border: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 60px;
		height: 100%;
		-webkit-appearance:none;
		outline: none;
		z-index: 100;
		-ms-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    -webkit-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	}
	.nav-ligne{
		position: absolute;
		top: 7px;
		right: 0;
		display: block;
		height: 2px;
		width: 30px;
		margin:10px 15px;
		background: #fff;
		z-index: 99;
		-ms-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    -webkit-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	}
	.haut{
		margin-top: 20px;
	}
	/*/*//*/*//*/*//*/*//*/* BUTTON NAV /*//*/*//*/*//*/*//*/*/

	/*/*//*/*//*/*//*/*//*/* BUTTON RETURN /*//*/*//*/*//*/*//*/*/
	.return{
		width: 60px;
		height: 100%;
		background:#292633;
		position: absolute;
		-ms-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    -webkit-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	    z-index: 100;
	}
	.return:active{
		background: rgba(255,255,255,0.2);
		-ms-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    -webkit-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	}
	.return-arrow{
		display: block;
		margin: 0 auto;
		margin-top: 15px;
		margin-left: 25px;
		width: 15px;
		height: 15px;
		border-bottom: 1px solid #fff;
	    border-left: 1px solid #fff;
	    -ms-transform:rotate(45deg);
	    -moz-transform:rotate(45deg);
	    -o-transform:rotate(45deg);
	    -webkit-transform:rotate(45deg);
	    transform:rotate(45deg);
	    -ms-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    -webkit-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	}
	.return:active>.return-arrow{
		margin-left: 20px;
		-ms-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    -webkit-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	}
	/*/*//*/*//*/*//*/*//*/* BUTTON RETURN /*//*/*//*/*//*/*//*/*/

	/*************************************************************/
	/*************************************************************/
	/*************************************************************/


	/*************************************************************/
	/*************************************************************/
	/*************************************************************/
	/***************************WRAPER*****************************/
	/*************************************************************/
	/*************************************************************/
	/*************************************************************/
	ol{
		height: 100%;
		z-index: 100;
		position: absolute;
		width: 100%;
	}
	ul.ul-wrapper{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 99;
	}
	ol li{
		width: 99%;
		height: 33.33%;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	.respiration-titre, .relaxation-titre, .defouloir-titre{
		text-transform: uppercase;
		letter-spacing: 2px;
		opacity: 0;
		position: absolute;
		left: 100%;
		top: 50%;
		font-size: 12px;
		font-family: "light";
		line-height: 0;
		-ms-transform:translateX(-100px);
	    -moz-transform:translateX(-100px);
	    -o-transform:translateX(-100px);
	    -webkit-transform:translateX(-100px);
	    transform:translateX(-100px);
		-ms-transition: all .4s .1s ease-out;
	    -moz-transition: all .4s .1s ease-out;
	    -o-transition: all .4s .1s ease-out;
	    -webkit-transition: all .4s .1s ease-out;
	    transition: all .4s .1s ease-out;
	}
	.respiration-pret, .relaxation-pret, .defouloir-pret{
		opacity: 0;
		background: #fff;
		position: absolute;
		top: 40%;
		left: 50%;
		margin-left: -75px;
		font-size: 21px;
		font-family: 'light';
		text-align: center;
		border-radius: 5px;
		color:#292633;
		width: 150px;
		height:50px;
		line-height: 50px;
		cursor: pointer;
		-ms-transition: all .2s .2s ease-in;
	    -moz-transition: all .2s .2s ease-in;
	    -o-transition: all .2s .2s ease-in;
	    -webkit-transition: all .2s .2s ease-in;
	    transition: all .2s .2s ease-in;
	}
	/*/*//*/*//*/*//*/*//*/* RESPIRATION /*//*/*//*/*//*/*//*/*/
	.respiration{
		border-right:5px solid #13B0A5;
		-ms-transition: all .3s .4s ease-in;
	    -moz-transition: all .3s .4s ease-in;
	    -o-transition: all .3s .4s ease-in;
	    -webkit-transition: all .3s .4s ease-in;
	    transition: all .3s .4s ease-in;
	}
	.respiration:active{
		background: rgba(111, 188, 180, 1);
	}
	.respiration-instruction, .relaxation-instruction, .defouloir-instruction{
		text-align: center;
		opacity: 0;
		text-align: center;
		font-size: 14px;
		font-family: 'thin';
		color:#fff;
		z-index: 101;
		-ms-transition: all .2s .1s ease-in;
	    -moz-transition: all .2s .1s ease-in;
	    -o-transition: all .2s .1s ease-in;
	    -webkit-transition: all .2s .1s ease-in;
	    transition: all .2s .1s ease-in;
	}
	.respiration-instruction{
		margin-top: 125px;
	}
	.relaxation-instruction{
		margin-top: -15px;
	}
	.defouloir-instruction{
		margin-top: -15px;
	}
	.respiration-pret:active{
	    -ms-transition: transform .1s ease-out;
	    -moz-transition: transform .1s ease-out;
	    -o-transition: transform .1s ease-out;
	    -webkit-transition: transform .1s ease-out;
	    transition: transform .1s ease-out;
	}
	.respiration-bar{
		display: block;
		width: 0;
		height: 10px;
		position: absolute;
		top: 0;
		opacity: 1;
		background: #13B0A5;
	}
	/*/*//*/*//*/*//*/*//*/* RESPIRATION /*//*/*//*/*//*/*//*/*/

	/*/*//*/*//*/*//*/*//*/* RELAXATION /*//*/*//*/*//*/*//*/*/
	.relaxation{
		border-right:5px solid #F1B136;
		-ms-transition: all .3s .3s ease-in;
	    -moz-transition: all .3s .3s ease-in;
	    -o-transition: all .3s .3s ease-in;
	    -webkit-transition: all .3s .3s ease-in;
	    transition: all .3s .3s ease-in;
	}
	.relaxation:active{
		background: rgba(244, 200, 104, 1);
	}
	.relaxation-pret:active{
	    -ms-transition: transform .1s ease-out;
	    -moz-transition: transform .1s ease-out;
	    -o-transition: transform .1s ease-out;
	    -webkit-transition: transform .1s ease-out;
	    transition: transform .1s ease-out;
	}
	.relaxation-bar{
		display: block;
		width: 0;
		height: 10px;
		position: absolute;
		top: 0;
		opacity: 1;
		background: #F1B136;
	}
	/*/*//*/*//*/*//*/*//*/* RELAXATION /*//*/*//*/*//*/*//*/*/

	/*/*//*/*//*/*//*/*//*/* DEFOULOIR /*//*/*//*/*//*/*//*/*/
	.defouloir{
		border-right:5px solid #F26262;
		-ms-transition: all .3s .2s ease-in;
	    -moz-transition: all .3s .2s ease-in;
	    -o-transition: all .3s .2s ease-in;
	    -webkit-transition: all .3s .2s ease-in;
	    transition: all .3s .2s ease-in;
	}
	.defouloir:active{
		background: rgba(245, 166, 160, 1);
	}
	.defouloir-pret:active{
	    -ms-transition: transform .1s ease-out;
	    -moz-transition: transform .1s ease-out;
	    -o-transition: transform .1s ease-out;
	    -webkit-transition: transform .1s ease-out;
	    transition: transform .1s ease-out;
	}
	.defouloir-bar{
		display: block;
		width: 0;
		height: 10px;
		position: absolute;
		top: 0;
		opacity: 1;
		background: #F26262;
	}
	/*/*//*/*//*/*//*/*//*/* DEFOULOIR /*//*/*//*/*//*/*//*/*/

	/*************************************************************/
	/*************************************************************/
	/*************************************************************/


	/*************************************************************/
	/*************************************************************/
	/*************************************************************/
	/**************************ADD/REMOVE*************************/
	/*************************************************************/
	/*************************************************************/
	/*************************************************************/
	.content{
		background: #fff;
		-ms-transition: all .6s .3s ease-out;
	    -moz-transition: all .6s .3s ease-out;
	    -o-transition: all .6s .3s ease-out;
	    -webkit-transition: all .6s .3s ease-out;
	    transition: all .6s .3s ease-out;
	}
	.translate-1{
		-ms-transform:translateX(-325px);
	    -moz-transform:translateX(-325px);
	    -o-transform:translateX(-325px);
	    -webkit-transform:translateX(-325px);
	    transform:translateX(-325px);
		-ms-transition: all .3s .2s linear;
	    -moz-transition: all .3s .2s linear;
	    -o-transition: all .3s .2s linear;
	    -webkit-transition: all .3s .2s linear;
	    transition: all .3s .2s linear;
	}
	.translate-2{
		-ms-transform:translateX(-325px);
	    -moz-transform:translateX(-325px);
	    -o-transform:translateX(-325px);
	    -webkit-transform:translateX(-325px);
	    transform:translateX(-325px);
		-ms-transition: all .3s .3s linear;
	    -moz-transition: all .3s .3s linear;
	    -o-transition: all .3s .3s linear;
	    -webkit-transition: all .3s .3s linear;
	    transition: all .3s .3s linear;
	}
	.translate-3{
		-ms-transform:translateX(-325px);
	    -moz-transform:translateX(-325px);
	    -o-transform:translateX(-325px);
	    -webkit-transform:translateX(-325px);
	    transform:translateX(-325px);
		-ms-transition: all .3s .4s linear;
	    -moz-transition: all .3s .4s linear;
	    -o-transition: all .3s .4s linear;
	    -webkit-transition: all .3s .4s linear;
	    transition: all .3s .4s linear;
	}
	.opacity-on{
		opacity: 1;
		left: 66%;
		-ms-transition: all .4s .2s ease-out;
	    -moz-transition: all .4s .2s ease-out;
	    -o-transition: all .4s .2s ease-out;
	    -webkit-transition: all .4s .2s ease-out;
	    transition: all .4s .2s ease-out;
	}
	.opacity-off{
		opacity: 0;
		margin-left: -300px;
		-ms-transition: all .4s .1s ease-out;
	    -moz-transition: all .4s .1s ease-out;
	    -o-transition: all .4s .1s ease-out;
	    -webkit-transition: all .4s .1s ease-out;
	    transition: all .4s .1s ease-out;
	}
	.opacity-basic{
		display: block;
		opacity: 1;
		-ms-transition: all 1s .9s linear;
	    -moz-transition: all 1s .9s linear;
	    -o-transition: all 1s .9s linear;
	    -webkit-transition: all 1s .9s linear;
	    transition: all 1s .9s linear;
	}
	.opacity-basic-2{
		opacity: 1;
		-ms-transition: all 1s .6s linear;
	    -moz-transition: all 1s .6s linear;
	    -o-transition: all 1s .6s linear;
	    -webkit-transition: all 1s .6s linear;
	    transition: all 1s .6s linear;
	}
	.opacity-basic-off{
	    -webkit-animation: pret-1 .6s linear;
		-o-animation: pret-1 .6s linear;
		-moz-animation: pret-1 .6s linear;
		-ms-animation: pret-1 .6s linear;
		animation:  pret-1 .6s linear;
		-ms-transform:scale(1);
	    -moz-transform:scale(1);
	    -o-transform:scale(1);
	    -webkit-transform:scale(1);
	    transform:scale(1);
	    -webkit-animation-iteration-count: 1;
		-o-animation-iteration-count: 1;
		-moz-animation-iteration-count: 1;
		-ms-animation-iteration-count: 1;
		animation-iteration-count: 1;
		-webkit-animation-fill-mode:both;
		-o-animation-fill-mode:both;
		-moz-animation-fill-mode:both;
		-ms-animation-fill-mode:both;
		animation-fill-mode:both;
	}

	@-webkit-keyframes pret-1{ 
	0%{
		-ms-transform:scale(1);
	    -moz-transform:scale(1);
	    -o-transform:scale(1);
	    -webkit-transform:scale(1);
	    transform:scale(1);
	}
	10%{
		-ms-transform:scale(1.2);
	    -moz-transform:scale(1.2);
	    -o-transform:scale(1.2);
	    -webkit-transform:scale(1.2);
	    transform:scale(1.2);
	}
	60% { 
		-ms-transform:scale(0);
	    -moz-transform:scale(0);
	    -o-transform:scale(0);
	    -webkit-transform:scale(0);
	    transform:scale(0); 
	    opacity: 0;
	}
	100%{
		-ms-transform:scale(0);
	    -moz-transform:scale(0);
	    -o-transform:scale(0);
	    -webkit-transform:scale(0);
	    transform:scale(0); 
	    opacity: 0;
	}
	}
	@-o-keyframes pret-1{ 
		0%{
		-ms-transform:scale(1);
	    -moz-transform:scale(1);
	    -o-transform:scale(1);
	    -webkit-transform:scale(1);
	    transform:scale(1);
	}
	10%{
		-ms-transform:scale(1.2);
	    -moz-transform:scale(1.2);
	    -o-transform:scale(1.2);
	    -webkit-transform:scale(1.2);
	    transform:scale(1.2);
	}
	60% { 
		-ms-transform:scale(0);
	    -moz-transform:scale(0);
	    -o-transform:scale(0);
	    -webkit-transform:scale(0);
	    transform:scale(0); 
	    opacity: 0;
	}
	100%{
		-ms-transform:scale(0);
	    -moz-transform:scale(0);
	    -o-transform:scale(0);
	    -webkit-transform:scale(0);
	    transform:scale(0); 
	    opacity: 0;
	}
	}
	@-moz-keyframes pret-1{ 
		0%{
		-ms-transform:scale(1);
	    -moz-transform:scale(1);
	    -o-transform:scale(1);
	    -webkit-transform:scale(1);
	    transform:scale(1);
	}
	10%{
		-ms-transform:scale(1.2);
	    -moz-transform:scale(1.2);
	    -o-transform:scale(1.2);
	    -webkit-transform:scale(1.2);
	    transform:scale(1.2);
	}
	60% { 
		-ms-transform:scale(0);
	    -moz-transform:scale(0);
	    -o-transform:scale(0);
	    -webkit-transform:scale(0);
	    transform:scale(0);
	    opacity: 0; 
	}
	100%{
		-ms-transform:scale(0);
	    -moz-transform:scale(0);
	    -o-transform:scale(0);
	    -webkit-transform:scale(0);
	    transform:scale(0); 
	    opacity: 0;
	}
	}
	@keyframes pret-1{ 
		0%{
		-ms-transform:scale(1);
	    -moz-transform:scale(1);
	    -o-transform:scale(1);
	    -webkit-transform:scale(1);
	    transform:scale(1);
	}
	10%{
		-ms-transform:scale(1.2);
	    -moz-transform:scale(1.2);
	    -o-transform:scale(1.2);
	    -webkit-transform:scale(1.2);
	    transform:scale(1.2);
	}
	60% { 
		-ms-transform:scale(0);
	    -moz-transform:scale(0);
	    -o-transform:scale(0);
	    -webkit-transform:scale(0);
	    transform:scale(0); 
	    opacity: 0;
	}
	100%{
		-ms-transform:scale(0);
	    -moz-transform:scale(0);
	    -o-transform:scale(0);
	    -webkit-transform:scale(0);
	    transform:scale(0); 
	    opacity: 0;
	}
	}
	.time{
		width: 100%;
		-ms-transition: all 180s linear;
	    -moz-transition: all 180s linear;
	    -o-transition: all 180s linear;
	    -webkit-transition: all 180s linear;
	    transition: all 180s linear;
	}
	.time-2{
		width: 100%;
		-ms-transition: all 30s linear;
	    -moz-transition: all 30s linear;
	    -o-transition: all 30s linear;
	    -webkit-transition: all 30s linear;
	    transition: all 30s linear;
	}
	.invisible{
		display: none;
	}
	.animation-menu-1{
		-ms-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    -webkit-transition: all .2s ease-out;
	    transition: all .2s ease-out;
		-ms-transform:translateY(100px);
	    -moz-transform:translateY(100px);
	    -o-transform:translateY(100px);
	    -webkit-transform:translateY(100px);
	    transform:translateY(100px);
	}
	.animation-menu-2{
		-ms-transition: all .3s ease-out;
	    -moz-transition: all .3s ease-out;
	    -o-transition: all .3s ease-out;
	    -webkit-transition: all .3s ease-out;
	    transition: all .3s ease-out;
		-ms-transform:translateY(100px);
	    -moz-transform:translateY(100px);
	    -o-transform:translateY(100px);
	    -webkit-transform:translateY(100px);
	    transform:translateY(100px);
	}
	.animation-menu-3{
		-ms-transition: all .4s ease-out;
	    -moz-transition: all .4s ease-out;
	    -o-transition: all .4s ease-out;
	    -webkit-transition: all .4s ease-out;
	    transition: all .4s ease-out;
		-ms-transform:translateY(100px);
	    -moz-transform:translateY(100px);
	    -o-transform:translateY(100px);
	    -webkit-transform:translateY(100px);
	    transform:translateY(100px);
	}
		.rotate-haut{
		-ms-transform:rotate(180deg) translateY(5px);
	    -moz-transform:rotate(180deg) translateY(5px);
	    -o-transform:rotate(180deg) translateY(5px);
	    -webkit-transform:rotate(180deg) translateY(5px);
	    transform:rotate(180deg) translateY(5px);
	    -ms-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    -webkit-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	}
	.rotate-bas{
		-ms-transform:rotate(-180deg) translateY(-5px);
	    -moz-transform:rotate(-180deg) translateY(-5px);
	    -o-transform:rotate(-180deg) translateY(-5px);
	    -webkit-transform:rotate(-180deg) translateY(-5px);
	    transform:rotate(-180deg) translateY(-5px);
	    -ms-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    -webkit-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	}
/****************ADD/REMOVE****************/